<!DOCTYPE html>
<html>
  <head>
    <title>Home | SEKAM</title>
    <link rel="stylesheet" type="text/css" href="../static/img/home/home.css" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  </head>
  <nav class="navi" style="margin-left: 31%;">
    <ul>
      <li>
        <a href="../" style="color:white ; font-size: 18pt; font-weight: bolder; font-family: Poppins;">Beranda</a>
      </li>
      <li><a href="../berita" style="color:white; font-size: 18pt; font-family: Poppins;">Berita</a></li>
      <li><a href="../forum" style="color:white ; font-size: 18pt; font-family: Poppins;">Forum</a></li>
      <li><a href="../umkm" style="color:white ; font-size: 18pt; font-family: Poppins;">UMKM</a></li>
      <li>
        <a href="#"><img src="../static/img/home/profile.png" width="35px" height="35px" style="margin-left:30%" /></a>
      </li>
    </ul>
  </nav>
  <body>
    <img
      src="../static/img/home/logosekam.png"
      style="margin-left: 12%; margin-top: -100px; width: 130px; height: 110px"
    />

    <div class="quotes">
      <div class="container" style="margin-left: 50%; margin-top: 10%">
        <div class="wrapper">
          <img
            src="../static/img/home/metro.jpeg"
            style="width: 450px; height: 500px;"
          />
        </div>
      </div>
      <div class="konten">
        <h1 style="margin-top: 30%; margin-right: 45%; font-size:40pt; font-weight: bolder; font-family:Poppins;">
          Gerakan Literasi Kota Metro dalam Dinas Perdagangan
        </h1>
        <p style="text-align: left; font-size: 12pt; margin-right: 50%; font-family: Poppins;">
          SEKAM Sentra Kreatif Metro SEKAM akan menjadi aplikasi
          <br />pemerintah Kota Metro yang menjadi motor pendorong dalam
          <br />gerakan literasi terutama literasi digital bagi pelaku<br />usaha
          dan masyarakat umum.
        </p>
        
          <a href="https://sekam.id/sekam.apk"
            ><img src="../static/img/home/tombol.png"
          style="width: 20%; height:20%" /></a>
        
        <h1 style="margin-top: 400px; color: #000; text-align: center">
          Apa itu SEKAM?
        </h1>
        <p style="margin-top: 10px; color: #000; text-align: center;font-family: Poppins; margin-left:22%; margin-right:22%">
          SEKAM adalah Sentra Kreatif Metro berisi katalog produk-produk kreatif lokal di Kota Metro. Di Aplikasi ini terdapat berbagai produk UMKM Metro, mulai dari Kuliner, oleh-oleh, Kerajinan, Pakaian, hingga Sembako. Aplikasi SEKAM mempertemukan pelaku UMKM di Metro dengan para pencari referensi UMKM lokal di Metro. Berisi produk kreatif dan kuliner dari Warga Metro. 
        </p>
      </div>
    </div>
  </body>


</html>
