<!DOCTYPE HTML>
<html>
    <head>
        <title>Halaman Login</title>
        <link rel="stylesheet" href="../static/img/home/login.css">
    </head>
    

    <body>
        {% load crispy_forms_tags %}
       	<div class="container">
        <p style="padding-bottom:20% ; margin-top: -15%;"><a href="../">X</a></p>

          <center>
            <img class="imglogo" src="../static/img/home/logosekam.png">
            <h2 class="text1">Login ke Akun Anda</h2></center>
            <form action="" method="POST">
                {% csrf_token %}

                <fieldset class="form-group">
                  {# <legend class="border-bottom mb-4" style="color: white;">Sign In Now</legend> #}
                  {{ form|crispy }}
                </fieldset>

                <br><center><button class="btn ">Sign In</button></center>

            <center>
              <br><a href="../register"><p>Daftar Disini</p></a><br>
              <a href="#"><p>Lupa Kata Sandi?</p></a><br>
            </center>

            <center><p>----- Atau Login Dengan -----</p>
            <br>
            <a href="#"><img src="../static/img/home/Google.png" style="height: 80%; width: 80%;"></a> 
            <a href="#"><img src="../static/img/home/Facebook.png" style="height: 80%; width: 80%;"></a>

            </center>
            </form>
        </div>     
    </body>
</html>