<!DOCTYPE HTML>
<html>
    <head>
        <title>Halaman Login</title>
        <link rel="stylesheet" href="login.css">
    </head>
    

    <body>
       	<div class="container">
        <p style="padding-bottom:20% ; margin-top: -15%;"><a href="#">X</a></p>

          <center>
            <img class="imglogo" src="logosekam.png">
            <h2 class="text1">Login ke Akun Anda</h1></center>
            <form>
                <label>Username</label><br>
                <input type="text"><br>
                <label>Email</label><br>
                <input type="text"><br>
                <label>Password</label><br>
                <input type="password"><br>
                <label>Verifikasi Password</label><br>
                <input type="password"><br>
                <center><button><a href="#">Daftar</a></button></center>

            <br>
             <a href="#"><p>Sign In</p></a>
             <a href="#"><p>Menuju Halaman Utama</p></a><br>

            <center><p>-----Daftarkan Akun-----</p>
            

            </center>
            </form>
        </div>     
    </body>
</html>
