<!DOCTYPE html>
<html>
<head>
  <title>Menghubungkan HTML dengan CSS | www.malasngoding.com</title>
  <link rel="stylesheet" type="text/css" href="umkmedit.css">
</head>
<img class="imglogo" src="logosekam.png">

<div>
  <nav>
    <ul style="margin-left: 40%; margin-top: -2%;">
    <li style="padding-right: 5%;"><a href="#" style="font-size: 20pt"><b>Beranda</b></a></li>
    <li style="padding-right: 5%;"><a href="#" style="font-size: 20pt"><b>Berita</b></a></li>
    <li style="padding-right: 5%;"><a href="#" style="font-size: 20pt"><b>Forum</b></a></li>
    <li style="padding-right: 5%;"><a href="#" style="font-size: 20pt"><b>UMKM</b></a></li>
    <a href="#"><img src="profile.png" width="30px" height="30px" style=" " /></a>
    </ul>

  </nav>


</div>




<body>
<center>
<form>
  <input class="search" type="text" placeholder="Cari..." required>
  <input class="button" type="button" value="Cari">   
</form>


    <table border="1" cellpadding="12" class="table">
      <thead>
        <th>
          Nama 
        </th>
         <th>
          Alamat
        </th>
        <th>
          Jenis 
        </th>
         <th>
          Nomor Telepon
        </th>
      </thead>
      <tbody >
        <tr>
            <td>Contoh Baris ke-1 kolom ke-1</td>
            <td>Contoh Baris ke-1 kolom ke-2</td>
            <td>Contoh Baris ke-1 kolom ke-1</td>
            <td>Contoh Baris ke-1 kolom ke-2</td>
        </tr>
        <tr>
            <td>Contoh Baris ke-2 kolom ke-1</td>
            <td>Contoh Baris ke-2 kolom ke-2</td>
            <td>Contoh Baris ke-2 kolom ke-1</td>
            <td>Contoh Baris ke-2 kolom ke-2</td>
        </tr>


      </tbody>
    </table>


</center>
</body>

</html>