h1 {
  color: #fff;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: #00000;
  font-family: courier;
  font-size: 160%;
}

body {  
  background-image: url('rectangle1.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;


}

form {
    width:500px;
    margin:50px auto;
}


a{text-decoration: none; font-size: 20px;font-family: sans-serif;padding: 14px 10px}
ul{padding: 14px}
li{list-style: none; display: inline;}
li a{; color:#d4d4d4;}
li a:hover{background: #4da4ff; color:#fff;}


.kanan{
    width: 50%;
    height: 150%;
}
.kiri{
    font-size: 72pt;
    margin-left: 20%;

}
.wrapper{
    width: 10%;
    display: flex;
    
}
.img1{
    margin-top: 15%;
    width: 80%;
    height: auto;
}
.imglogo{
    margin-left: 10%;
    width:5% ;
    height:10%;
  
}
.konten{
  margin-top: -300px;
  right: 100px;
  position: absolute;
}



.box1{
margin: 5% 1% 0% 0%;
width:20%;
height:450px;
background:#dfdfdf;
border-radius: 50px;
box-shadow: 10px 10px 5px lightblue;
}
.box2{
margin: 5% 1% 0% 0%;
width:60%;
height: 1000px;
background:#dfdfdf;
border-radius: 50px;
box-shadow: 10px 10px 5px lightblue;
}
.box3{
margin: 5% 0% 0% 0%;
width:15%;
height:500px;
background:#dfdfdf;
border-radius: 50px;
box-shadow: 10px 10px 5px lightblue;
}
.box4{
margin: 36% 0% 0% 0%;
width:20%;
height:250px;
background:#dfdfdf;
border-radius: 50px;
box-shadow: 10px 10px 5px lightblue;
position: absolute;
}
.TombolKembali{
    padding-top: 2%;
    margin-left: -85%;
    height: 8%;
    width: 4%;
}
.Layoutdalam{
    display: flex;
}
.gambarberita{
    margin-right: 40%;
    height:40%;
    width:40%;
    border-radius: 20px;
}
.konten{
    padding-left: 50%;
    padding-top: 5%;
}
.TombolLanjut{
    margin-left: 60%;
}

.navberita{
    margin-top: 5%;

}
.contanin{
    display: flex;
}
.gambarlofi{
    height: 30%;
    width: 30%;

}
.Tombolthread{
    height: 10%;
    width: 40%;
}
.gambarlofilebar{
    height: 40%;
    width: 80%;

}
.box5{
position: absolute;
margin: 72% 0% 0% 0%;
width:60%;
height: 400px;
background:#dfdfdf;
border-radius: 50px;
box-shadow: 10px 10px 5px lightblue;
}
.box6{
position: absolute;
margin: 100% 0% 0% 0%;
width:60%;
height: 400px;
background:#dfdfdf;
border-radius: 50px;
box-shadow: 10px 10px 5px lightblue;
}
.Layoutdalam2{
    margin-left: 30%;
}
.Ellipse{
    margin: 5% 0% 0% 0%;
}
