*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #EDF2EE;
}

.container{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 180px 60px;
    width: 25%;
    height: 80%;
    border-radius: 20px;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}
.container h1{
    text-align: center;
    color: #00000;
    margin-bottom: 30px;
    /*text-transform: uppercase;*/
    border-bottom: 4px solid #2979ff;
}
.container label{
    text-align: left;
    color: #BABABA;
}
.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #BABABA;
    border-radius: 20px;
    
    color: #00000;
    font-size: 20px;
}
.container form button{
    width: 50%;
    padding: 15px 0;
    border: none;
    border-radius: 20px;
    background-color:#FFCC4D;
    font-size: 18px;
    color: #00000;
}
.imglogo{
    width: 40%;
    height: 40%;
    margin-top: -20%;

}
.text1{
    padding-bottom: 30%;
    padding-top: 5%;
}