<!DOCTYPE html>
<html>
<head>
  <title>Menghubungkan HTML dengan CSS | www.malasngoding.com</title>
  <link rel="stylesheet" type="text/css" href="../static/img/berita/newsedit2.css">
</head>
<img class="imglogo" src="../static/img/berita/logosekam.png">

<div>
  <nav>
    <ul style="margin-left: 40%; margin-top: -2%;">
    <li style="padding-right: 5%;"><a href="#" style="font-size: 20pt"><b>Beranda</b></a></li>
    <li style="padding-right: 5%;"><a href="#" style="font-size: 20pt"><b>Berita</b></a></li>
    <li style="padding-right: 5%;"><a href="#" style="font-size: 20pt"><b>Forum</b></a></li>
    <li style="padding-right: 5%;"><a href="#" style="font-size: 20pt"><b>UMKM</b></a></li>
    <a href="#"><img src="../static/img/berita/profile.png" width="30px" height="30px" style=" " /></a>
    </ul>

  </nav>


</div>




<body>
<div class="navberita">
<a href="newskonten.html"><b>Berita|</b></a>
<a href="eventnews.html"><b>|Event</b></a>
</div>
<center>
<div class="box1">
  <img class="TombolKembali" src="../static/img/berita/STAR.png">
  <div class="layoutdalam">
    <img class="gambarberita" src="../static/img/berita/GambarBerita.png">
    <p class="konten" style="color: black;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
  <a href="#"><img class="TombolLanjut" src="../static/img/berita/RDMORE.png"></a>
  </div>



</div>
<div class="box2">
  <img class="TombolKembali" src="../static/img/berita/STAR.png">
  <div class="layoutdalam">
    <img class="gambarberita" src="../static/img/berita/GambarBerita.png">
    <p class="konten" style="color: black;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
  <a href="#"><img class="TombolLanjut" src="../static/img/berita/RDMORE.png"></a>
  </div>

<div class="box3">
  <img class="TombolKembali" src="../static/img/berita/STAR.png">
  <div class="layoutdalam">
    <img class="gambarberita" src="../static/img/berita/GambarBerita.png">
    <p class="konten" style="color: black;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
  <a href="#"><img class="TombolLanjut" src="../static/img/berita/RDMORE.png"></a>
  </div>

<div class="box4">
  <img class="TombolKembali" src="../static/img/berita/STAR.png">
  <div class="layoutdalam">
    <img class="gambarberita" src="../static/img/berita/GambarBerita.png">
    <p class="konten" style="color: black;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
  <a href="#"><img class="TombolLanjut" src="../static/img/berita/RDMORE.png"></a>
  </div>

<div class="box5">
  <img class="TombolKembali" src="../static/img/berita/STAR.png">
  <div class="layoutdalam">
    <img class="gambarberita" src="../static/img/berita/GambarBerita.png">
    <p class="konten" style="color: black;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
  <a href="#"><img class="TombolLanjut" src="../static/img/berita/RDMORE.png"></a>
  </div>



</div>


    

</center>
</body>

</html>