body{
  background-image: url("beranda1.png");
  background-repeat: no-repeat;
  background-size: 100% 95%;
}

h1 {
  color: #fff;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: #fff;
  font-family: courier;
  font-size: 160%;
}


.quotes {
  margin: 120px 120px 0px 120px;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  padding: 14px 10px;
}
ul {
  padding: 14px;
}
li {
  list-style: none;
  display: inline;
}
li a {
  color: #d4d4d4;
  margin-left: 20px;
}



.container {
  position: absolute;
  transform: translate(-10%, -10%);
  top: 10%;
  left: 10%;
  overflow: hidden;
  border-radius: 70px;
}
.wrapper {
  display: flex;
}
.konten {
  margin-top: -300px;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}