h1 {
  color: #fff;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: #fff;
  font-family: courier;
  font-size: 160%;
}

body {  
  background-image: url('rectangle1.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;


}
.layout {
  margin: 120px 120px 0px 120px;


}

.navi{ 
    margin-top: 20px; 
    width: 100%;
}

a{text-decoration: none; font-size: 20px;font-family: sans-serif;padding: 14px 10px}
ul{padding: 14px}
li{list-style: none; display: inline;}
li a{; color:#d4d4d4;}
li a:hover{background: #4da4ff; color:#fff;}

.container{
    position: absolute;
    transform: translate(-10%,-10%);
    top: 50%;
    left: 40%;
}
.container2{
    position: absolute;
    transform: translate(-10%,-10%);
    top: 50%;
    right:70% ;
    display: flex;

}
.kanan{
    width: 50%;
    height: 150%;
}
.kiri{
    font-size: 72pt;
    margin-left: 20%;

}
.wrapper{
    width: 10%;
    display: flex;
    
}
.img1{
    margin-top: 15%;
    width: 80%;
    height: auto;
}
.imglogo{
    margin-left: 10%;
    object-fit: contain;
  
}
.konten{
  margin-top: -300px;}
